


<form action="/" method="POST">
    <div class="form-row align-items-center">
        <div class="col-sm-3 my-1">
            <label class="sr-only" for="doctorFirstName">firstName</label>
                <input type="text" class="form-control" name="firstName"  placeholder="Frist Name">
        </div>
        <div class="col-sm-3 my-1">
            <label class="sr-only" for="doctorLastName">lastName</label>
                <input type="text" class="form-control" name="lastName" placeholder="Last Name">
        </div>
        <div class="col-sm-3 my-1">
            <input type="text" class="form-control" name="email" placeholder="Email">
        </div>

        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div> 
</form>


